@media screen and (min-width: 1200px) {
  .container {
    min-width: 1408px;
  }
  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    margin-left: auto;
    margin-right: auto;

  }
  .hero-title {
    width: 494px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
  }
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers {
    padding-top: 72px;
    padding-bottom: 120px;
  }
  .customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  
  }
}
