@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* ----LOGO---- */
  .logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-button-color);
    text-decoration: none;
    display: block;
  
    margin-right: 77px;
  
  
  
  }
  .logo-pading {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .accent-header-logo{
    color: var(--color-headlines)
  
  }
  /* ----HEADER---- */
  .menu-open {

    display: none;
  }
  .nav-list {
    display: flex;
    gap: 30px;
  }

  .list-item {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-headlines);
    text-decoration: none;
   
  
  }
  .contact {
    display: block;
    margin-left: auto;
    gap: 40px;
  }
  
  .nav-a {
    text-decoration: none;
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-headlines);
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .nav-a:hover,
  .nav-a:focus {
    color: var(--primary-button-color);
  }
  .nav-a.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    opacity: 1;
    width: 100%;
    height: 4px;
    background-color:var(--button-hover);
    border-radius: 2px;
  }
  .nav-a.current {
    color: var(--button-hover);
  }
  
  .contact-a {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-a:hover,
  .contact-a:focus {
    color: var(--primary-button-color);
  }
  /* --------HERO-------- */
  .hero {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)),
   url(../img/hero_bg_tab.jpg);
     margin-left: auto;
    margin-right: auto;

  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7), 
      rgba(46, 47, 66, 0.7)),
     url(../img/hero_bg_tab_2x.jpg);
  }
}
  .hero-title {
    width: 494px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
  }
  /* ----SKILLS---- */
  .skills-list {
  display: flex;
    gap: 24px;
  }
  .skills-item {
    flex-wrap: wrap;
    width: calc((100% - 24px)/2);
  }



  .team {
    padding-top: 96px;
    padding-bottom: 104px;
  }

  .customers {
    padding-top: 72px;
    padding-bottom: 96px;
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
    height: 88px;
  
  }
}